[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=MONGO={{ lookup('hashi_vault', 'roboshop-{{env}}/data/catalogue:MONGO token={{ vault_token }} url=http://vault-internal.rdevopsb81.online:8200')}}
Environment=MONGO_URL="{{ lookup('hashi_vault', 'roboshop-{{env}}/data/catalogue:MONGO_URL token={{ vault_token }} url=http://vault-internal.rdevopsb81.online:8200')}}"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target